.git*
.idea
*.iml
.DS_Store
Thumbs.db
npm-debug.log
pids
logs
results
tmp
bower_components/
lib/**/*.js.map
docs/
coverage/
examples/
node_modules/
scripts/
src/
tsconfig.json
tsconfig-*.json
tslint.json
tslint-*.json
